
a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
  }
#logo {
    display: block;
    margin: 1rem auto;
    max-width: 80%;
    height: auto;
    width: auto;
    border-radius: 0.3rem;
    /*aggiungo dei bordi e delle ombre per integrare in mdoo migliore l'immagine dentro al sito web --> tolti perchè l'immagine non era adatta 
    ad avere dei bordi*/
    /*border: 0.2rem solid #ccc; 
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1); */
    align-items: center;
  }
  
footer {
    opacity: 0.5;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ddd;
  }
  